

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"wdth" 100;

}

.bigTextLeft{
    color:#b4ace6;
}

.wrapper{
    background-color: #b4ace6;
}

.topPart{
    background-color: #FFFFFF;
    width:60vw;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.topPartText{
    width: 60%;
}
.topPart img{
    object-fit:contain;
    border-radius: 20px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    background-color: #535353;
    border-radius: 10px;
    color: #FFFFFF;
}
.menu a:hover{
    background-color: #898989;
}

.subsection{
    width:25%;
    background-color: #d5e6ac;
    margin-right: 20px;
}

.subsection h2{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.subsection img{
    width:100%;
}

.subsectionWrapper{
    display: flex;
    flex-direction: inherit;
}


