body{
    font-family: "Arial Narrow", Helvetica, sans-serif;

}

.wrapper {
    background-color: #b4ace6;
}

.topPart{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 60vw;
}

.subsection{
    background-color: #0000FF;
    width:33vw;
}

.menu a {
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
}

.menu a:hover {
    background-color: #535353;
}
.subsection h2{
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
}
